doctype html
html(lang="en")
  head
    title= title
    meta(name="description", content="Your Dribbble newsletter service.")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(content="text/html; charset=utf-8", http-equiv="Content-type")
    meta(name="HandheldFriendly", content="true")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/favicon.png")
    meta(property='og:image', content='/favicon.png')
    meta(name='twitter:image', content='/favicon.png')
    link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Lato', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/the.css')
    link(rel='shortcut icon', href="/favicon.png")
    script.

  body
    if message && message.length > 0
      p#message.pull-center.message #{message.join('<br/>')}
    if error && error.length > 0
      p#error.pull-center.error #{error.join('<br/>')}

    block content

    footer.footer

    script.
      if(document.getElementById('message')){
        setTimeout(function(){
          document.getElementById('message').style.top = -(document.getElementById('message').clientHeight + 5) + 'px';
        }, 3000);
      }
      if(document.getElementById('error')){
        setTimeout(function(){
          document.getElementById('error').style.top = -(document.getElementById('error').clientHeight + 5) + 'px';
        }, 3000);
      }
      if(document.body.clientHeight < window.innerHeight){
        document.body.style.minHeight = window.innerHeight + 'px';
      }