body {
-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; 
  line-height: 1.6;
  font-family: 'Lato', Helvetica, sans-serif;
  background-color: #293848;
  margin:0 auto;
  font-size: 18px;
  color: #ddd;
}
img {
max-width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
table{
  border-collapse: collapse;
  max-width: 900px;
  margin:50px auto;
}
h1{
  color: white;
  font-size: 3em;
  margin:0px;
  font-family: 'Droid Sans', Helvetica, sans-serif;
}
.td-example{
  text-align: center;
}
.td-example img{
  max-height: 600px;
  border-radius: 5px;
}
.td-copy{
  padding: 0 8%;
  width: 65%;
}
.favicon{
  max-width: 45px;
  margin-right: 10px;
}
.td-copy hr{
  width: 25%;
  margin: 0.5em 0;
}

#mc_embed_signup{
  background:#293848; 
  clear:left; 
  font:16px 'Lato',sans-serif; 
}
#mc_embed_signup form{
  padding: 0;
}
#mc_embed_signup .mc-field-group input{
  max-width: 300px;
  background:#ddd;
  font-family: 'Lato';
  border-radius: 3px;
}
#mc-embedded-subscribe.button{
  background: #2497EE;
}


@media only screen and (max-width: 640px) {
  body{
    font-size: 13px;
  }
  .shot-author-img{
    max-width: 25px;
  }
}